<a href="https://colab.research.google.com/github/marn1985/maquinaprendiz/blob/master/clase_1_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from numpy import genfromtxt
my_data = genfromtxt('/content/ENB2012_data.csv', delimiter=';')
X=my_data[:,:8]
Y=my_data[:,8]

In [ ]:
X
print('\n')
Y

array([[   nan,    nan,    nan, ...,    nan,    nan,    nan],
       [  0.98, 514.5 , 294.  , ...,   2.  ,   0.  ,   0.  ],
       [  0.98, 514.5 , 294.  , ...,   3.  ,   0.  ,   0.  ],
       ...,
       [   nan,    nan,    nan, ...,    nan,    nan,    nan],
       [   nan,    nan,    nan, ...,    nan,    nan,    nan],
       [   nan,    nan,    nan, ...,    nan,    nan,    nan]])

array([  nan, 15.55, 15.55, ...,   nan,   nan,   nan])

In [ ]:
import pandas as pd 
raw_data = pd.read_excel('/content/ENB2012_data.xlsx')

X=raw_data.iloc[:,:8]
Y = raw_data.iloc[:,8:]

In [ ]:
X
print('\n')
Y

       X1     X2     X3      X4   X5  X6   X7  X8
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0
..    ...    ...    ...     ...  ...  ..  ...  ..
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5

[768 rows x 8 columns]

        Y1     Y2
0    15.55  21.33
1    15.55  21.33
2    15.55  21.33
3    15.55  21.33
4    20.84  28.28
..     ...    ...
763  17.88  21.40
764  16.54  16.88
765  16.44  17.11
766  16.48  16.61
767  16.64  16.03

[768 rows x 2 columns]